/* CSS file: App.css */
.app {
  text-align: center;
}

.app.dark {
  background-color: #121212;
  color: white;
}

.app.light {
  background-color: white;
  color: black;
}

.profile img {
  border-radius: 50%;
  max-width: 100px;
  max-height: 350px;
}

.sidebar {
  float: left;
  width: 20%;
}

main {
  margin-left: 20%;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background: #f9f9f9;
  margin-bottom: 10px;
  margin-left: 8px;
  padding: 0px;
  border-radius: 5px;
  background-color: #d49999;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }